# Copy to roms.env and edit paths.
HOST_KERNAL_STOCK=/home/maciej/Maciejdev/plus4/c16-internalfunctionrom/kicad-c16multirom/rom/sources/zimmers/kernal.318004-05.bin
HOST_BASIC_STOCK=/home/maciej/Maciejdev/plus4/c16-internalfunctionrom/kicad-c16multirom/rom/sources/zimmers/basic.318006-01.bin
HOST_KERNAL_JD=/home/maciej/Maciejdev/plus4/c16-internalfunctionrom/kicad-c16multirom/rom/sources/jiffydos/JiffyDOS_Plus4_6.01_PAL.bin
DRIVE_1541_STOCK=/home/maciej/Maciejdev/plus4/burstcart/jiffydos/dos1541ii-251968-03.bin
DRIVE_1541_JD=/home/maciej/Maciejdev/plus4/burstcart/jiffydos/JiffyDOS_1541-II.bin
DRIVE_1581_STOCK=/home/maciej/Maciejdev/plus4/burstcart/jiffydos/1581-rom.318045-02.bin
DRIVE_1581_JD=/home/maciej/Maciejdev/plus4/burstcart/jiffydos/JiffyDOS_1581.bin
DRIVE_1551_STOCK=/usr/local/share/vice/DRIVES/dos1551-318008-01.bin
PAROBEK_BIN="$(git rev-parse --show-toplevel)/src/bin/parobek-via.bin"
